<header style="text-align: center; margin-bottom: 2rem;">
  <h1 style="font-size: 4rem; font-weight: bold; color: #ff00ff; text-shadow: 2px 2px 4px #000000;">Rails Composer Sample</h1>
  <nav>
    <%= link_to "ðŸ  Home", root_path, style: "margin-right: 1rem;" %>
    <%= link_to "ðŸ“ Posts", posts_path %>
  </nav>
</header>
